<%- include('../partials/header', locals) %>
  <h1><%= title %></h1>
  <ul>
    <li><a href="./create">Create Document</a></li>
    <% items.forEach( item => { %>
      <li>
        <a href="./<%= item._id %>">
           <%= item._id %>
        </a>
      </li>
    <% }) %>
  </ul>
  <small>WARNING: documents will only be editable for a short period of time.</small>
<%- include('../partials/footer', locals) %>
